

body{
	background: #FEF8F2;
	font-size: 25px;
	font-style: normal;
	font-family: roboto;
	font-weight: 400px;

}

img{
	
	border: solid;
	
}

.rectangle
{
	margin: 100px;
		

}

.bloc1
{
	color: #000000;
	padding: 20px;
	text-align: center;
 }

.bloc2
{
	color: #000000;
	font-size: 50px;
	font-family: roboto
	padding: 20px;
	text-align: center;
}
#contener
{
    display: flex;
    flex-wrap: wrap;
  	justify-content: center;
}


}

.bloc-table
{
	color: black;
	padding: 25px;
	font-size: 10px
  }

footer{
    background-color: #676767;
    padding: 15px;
    text-align: right;

